div#bandeau {
    width: 100%; /* la largeur du bloc*/
    height: 100px; /*la hauteur du bloc*/
    background-color:#ff0000;
}

div#contenu {
    width: 100%px; 
    height: 680px;
    background-color:#00ff22;
}



div#piedpage {
    width: 100%;
    height: 100px;
    background-color:#e211d8;
    clear: both;
}